PORT=3000
DATABASE_URL=postgresql://hireflow:hireflow_password@postgres:5432/hireflow
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
NODE_ENV=development
CORS_ORIGIN=http://localhost:8081
AWS_ACCESS_KEY_ID=YETRWVCWHFGHBJKF
AWS_SECRET_ACCESS_KEY=sjJEWHFWFBFBFEJBK
